/* stylesheet for the home page */

.tooltip > .tooltip-inner {
    font-family: Allegretto Script One;
    max-width: 600px;
    padding: 3px 8px;
    color: black;
    background-color:#FAFAD2;
    border-radius: .25rem;
    font-size:15px;
    border: 1px solid black;
    z-index: 5;
} 

input[readonly] {
    cursor:default;
    background-color:white !important;
}

#ticketTable  {
    table-layout: fixed;
}

textarea {
   resize: none;
}

#desc {
    background-color: white;
}

.ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.trunc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:inherit;
}

.pull-right{
  float:right;
  }
#head-navbar {
  width: 100%;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}
.nav>li {
  display: inline-block;
  width:initial;
  float:left;
  white-space: nowrap;
}
.nav { 
  display: inline-block;
}

#ticketbutton {
    color: blue;
}

.btn-xl {
    padding: 400px 30px;
    font-size: 40px;
    border-radius: 10px;
}


#newTicketBtn {
    min-width:200px;
    min-height:50px;
    cursor:pointer;
    font-size:30px;
    background-color:12A5F4;
}

#customFooter {
    color: #a7adba;
    font-size: 12px;
}
