{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <title>EasyTicket</title>
    <!-- css files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">

    <!-- fontawesome javascript -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


    <!-- dataTables -->
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-toggleable navbar-inverse bg-inverse navbar-fixed-top">
        <a href="/" class="navbar-brand">Easy Ticket</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mt-2">
                <i class="fas fa-user fa-lg" style="color:lightgray"></i>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:lightgray">{{ user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">

        <!-- new ticket button-->
        <button type="button" class="btn btn-outline-success mt-3 btn-lg" data-toggle="modal" data-target="#newTicketModel">New Ticket</button>

        <!-- ticket card view -->
        <div class="card mt-4">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs pull-left" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#allTab" role="tab" aria-controls="home" aria-selected="true">Open</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#allTab" role="tab" aria-controls="profile" aria-selected="false">In Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#allTab" role="tab" aria-controls="contact" aria-selected="false">Closed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#allTab" role="tab" aria-controls="contact" aria-selected="false">All</a>
                    </li>
                </ul>
            </div>
            <div class="card-body mx-2" style="overflow-x: scroll">
                <table id="ticketTable" class="table table-hover mt-2">
                    <thead class="thead-inverse">
                        <tr>
                            <th style="width: 90px; max-width: 90px;">Ticket #</th>
                            <th style="width: 90px">Status</th>
                            <th style="width: 400px">Description</th>
                            <th style="width: 90px">Creator</th>
                            <th style="width: 180px">Creation Date</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 12">
                        {% for ticket in tickets %}
                        <tr class="clickable-row">
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.get_status_display }}</td>
                            <td class="ellipses">{{ ticket.description }}</td>
                            <td>{{ ticket.creator }}</td>
                            <td class="ellipses">{{ ticket.creation_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- ticket card view -->
    </div>
    <!-- container-fluid -->


    <!--new ticket modal window-->

    <div id="newTicketModel" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <form id="ticketForm" method="POST" action="{% url 'new_ticket' %}" class="post-form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <br>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label" required>Location</label>
                            <div class="col-10">
                                <input class="form-control" type="text" placeholder="Building Name, Room Number" id="example-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Requestor</label>
                            <div class="col-10">
                                <input class="form-control" type="text" placeholder="The Benefactor" id="example-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Recipient</label>
                            <div class="col-10">
                                <input class="form-control" type="text" placeholder="The Beneficiary" id="example-text-input">
                            </div>
                        </div>
                        <fieldset disabled>
                            <div class="form-group row">
                                <label for="disabledTextInput" class="col-2 col-form-label">Status</label>
                                <div class="col-10">
                                    <input class="form-control" type="text" placeholder="Open" id="disabledInput">
                                </div>
                            </div>
                        </fieldset>
                        <br>
                        <div class="form-group">
                            <select name="urgency" class="custom-select" required>
                                <option value="">Urgency level</option>
                                <option value="1" href="#">High</option>
                                <option value="2" href="#">Medium</option>
                                <option value="3" href="#">Low</option>
                            </select>
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <label for="exampleTextarea">Description:</label>
                            <textarea class="form-control" id="description" name="description" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create Ticket</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--ticket detail view modal window-->

    <div id="ticketDetailModal" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ticketDetailTitle" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Location</label>
                        <div class="col-10">
                            <input readonly class="form-control" type="text" value="The Placeholder" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Requestor</label>
                        <div class="col-10">
                            <input readonly class="form-control" type="text" value="The Placeholder Requestor" id="requestor_detail">
                        </div>
                    </div>
                    <p>Status: placeholder</p>
                    <p>Urgency Level: <span id="urgency_detail"></span></p>
                    <div class="form-group">
                        <label for="exampleTextarea">Description:</label>
                        <textarea readonly class="form-control" id="desc" name="description" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Update:</label>
                        <textarea class="form-control" id="update_text" name="update" rows="2"></textarea>
                        <button id="update_btn" type="button" class="btn btn-primary float-right mt-2" onclick="addUpdate()">Add Update</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" disabled>Close Ticket</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>


<!---------- S C R I P T S ------------>

<!-- jquery minimized 3.3.1-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!--popper (for dataTables)-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!--bootstrap.min.js-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script>
    //used for table size when window is resized
    window.onresize = function() {
        if (window.innerWidth > 1000) {
            document.getElementById("ticketTable").style.width = "100%";
        } else {
            document.getElementById("ticketTable").style.width = "950px";
        }
    }

</script>

<!--local javascript utils file-->
<script type="text/javascript" src={% static 'js/utils.js' %} charset="utf-8"></script>

</html>
