<!DOCTYPE html>
<html style="height:100%">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
</head>
<body class="bg-warning h-100">
    <div id="wrapper" class="h-100 w-100">
        <div class="container-fluid h-100">    
            <div class="row justify-content-md-end h-100">
                <div class="col-md-4 col-md-3 bg-primary text-white">
                    <form method="POST" class="form-signin">   
                        {% csrf_token %}
                        <hr class="bg-light">
                        <h2 class="form-signin-heading text-center">Please log in</h2>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required=""/> 
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-success btn-block text-white" type="submit">Login</button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>